{{ define "main" }}
  {{- range .Params.blocks -}}

    {{- if eq .template "hero" -}}
      {{ partial "blocks/hero" (dict "Params" .) }}
    {{- end -}}

    {{- if eq .template "media-feature" -}}
      {{ partial "blocks/media-feature" (dict "Params" .) }}
    {{- end -}}

    {{- if eq .template "call-to-action" -}}
      {{ partial "blocks/cta" (dict "Params" .) }}
    {{- end -}}

    {{- if eq .template "body-copy" -}}
      {{ partial "blocks/content" (dict "Params" .) }}
    {{- end -}}

    {{- if eq .template "section-summaries" -}}
      {{ partial "blocks/section-summaries" (dict "Params" .) }}
    {{- end -}}

  {{- end -}}
{{ end }}
