.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

.button--wire {
  border: solid 1px black
}

.button--wire-white {
  border:solid 1px white;
  color: white;
}

.ButtonGroup {
  display: flex;

  &.--pullRight {
      justify-content: flex-end;
  }
}
